In [172]:
#import necessary libraries
import pandas as pd
import numpy as np

In [173]:
#load data set
loan_d = pd.read_csv('./loans data.csv')
loan_d.head(3)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years

In [174]:
loan_d.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [175]:
loan_d.rename(columns = {'ID':'id','Amount.Requested':'amount_req','Amount.Funded.By.Investors':'fund_by_investors',\
                        'Interest.Rate':'interest_rate','Loan.Length':'loan_length','Loan.Purpose':'loan_purpose','Debt.To.Income.Ratio':'debbt_income_ratio',\
                        'State':'state', 'Home.Ownership':'home_owner','Monthly.Income':'monthly_income','FICO.Range':'fico_range','Open.CREDIT.Lines':'open_credit',\
                        'Revolving.CREDIT.Balance':'revolve_cr_bal','Inquiries.in.the.Last.6.Months':'enquiries','Employment.Length':'employ_length'}, inplace = True)

In [176]:
loan_d.head(3)

,id,amount_req,fund_by_investors,interest_rate,loan_length,loan_purpose,debbt_income_ratio,state,home_owner,monthly_income,fico_range,open_credit,revolve_cr_bal,enquiries,employ_length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years

In [177]:
loan_d.shape

(2500, 15)

In [178]:
loan_d.dtypes

id                    float64
amount_req             object
fund_by_investors      object
interest_rate          object
loan_length            object
loan_purpose           object
debbt_income_ratio     object
state                  object
home_owner             object
monthly_income        float64
fico_range             object
open_credit            object
revolve_cr_bal         object
enquiries             float64
employ_length          object
dtype: object

In [179]:
loan_d.columns

Index(['id', 'amount_req', 'fund_by_investors', 'interest_rate', 'loan_length',
       'loan_purpose', 'debbt_income_ratio', 'state', 'home_owner',
       'monthly_income', 'fico_range', 'open_credit', 'revolve_cr_bal',
       'enquiries', 'employ_length'],
      dtype='object')

In [180]:
# replace the percentage sign in the interest rate & debt_toincome variable.
rm_perc = ['interest_rate','debbt_income_ratio']
for col in rm_perc:
    loan_d[col] = loan_d[col].astype('str')
    loan_d[col] = [x.replace('%','')for x in loan_d[col]]
loan_d[rm_perc].head(3)

  interest_rate debbt_income_ratio
0          8.90              14.90
1         12.12              28.36
2         21.98              23.81

In [181]:
#check the data types
loan_d.dtypes

id                    float64
amount_req             object
fund_by_investors      object
interest_rate          object
loan_length            object
loan_purpose           object
debbt_income_ratio     object
state                  object
home_owner             object
monthly_income        float64
fico_range             object
open_credit            object
revolve_cr_bal         object
enquiries             float64
employ_length          object
dtype: object

In [182]:
loan_d.head(3)

,id,amount_req,fund_by_investors,interest_rate,loan_length,loan_purpose,debbt_income_ratio,state,home_owner,monthly_income,fico_range,open_credit,revolve_cr_bal,enquiries,employ_length
0,81174.0,20000,20000,8.90,36 months,debt_consolidation,14.90,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12,36 months,debt_consolidation,28.36,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98,60 months,debt_consolidation,23.81,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years

In [183]:
#treat columns with wrong data types
the_columns = ['interest_rate','fund_by_investors','debbt_income_ratio','open_credit','revolve_cr_bal','enquiries','amount_req']
for col in the_columns:
    loan_d[col] = pd.to_numeric(loan_d[col], errors='coerce')

In [184]:
loan_d.dtypes

id                    float64
amount_req            float64
fund_by_investors     float64
interest_rate         float64
loan_length            object
loan_purpose           object
debbt_income_ratio    float64
state                  object
home_owner             object
monthly_income        float64
fico_range             object
open_credit           float64
revolve_cr_bal        float64
enquiries             float64
employ_length          object
dtype: object

In [185]:
#make dummies of categorial variable
loan_d['loan_length'].value_counts()

36 months    1950
60 months     548
.               1
Name: loan_length, dtype: int64

In [186]:
ll_dumm = pd.get_dummies(loan_d['loan_length'])

In [187]:
ll_dumm.head()

   .  36 months  60 months
0  0          1          0
1  0          1          0
2  0          0          1
3  0          1          0
4  0          1          0

In [188]:
#we would drop insignificant categories and add cate with significant freq back to the dataframe
loan_d['loan_length_36months'] = ll_dumm['36 months']

In [189]:
#discard the df from creating dummies for this variable
%reset_selective ll_dumm

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [190]:
#drop loan_length variable as it has been made redundant
loan_d = loan_d.drop('loan_length',axis = 1)

In [191]:
loan_d.dtypes

id                      float64
amount_req              float64
fund_by_investors       float64
interest_rate           float64
loan_purpose             object
debbt_income_ratio      float64
state                    object
home_owner               object
monthly_income          float64
fico_range               object
open_credit             float64
revolve_cr_bal          float64
enquiries               float64
employ_length            object
loan_length_36months      uint8
dtype: object

In [192]:
#moving on to another categorical varible
loan_d['loan_purpose'].value_counts()

debt_consolidation    1307
credit_card            444
other                  200
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: loan_purpose, dtype: int64

the values under loan purpose are much. however best option to treat the variable is clubbibg 
values that have similar rate in relationship with the interest rate which is the target variable
or dependent variable

In [193]:
round(loan_d.groupby('loan_purpose').agg({'interest_rate': 'mean'}))

                    interest_rate
loan_purpose
car                          11.0
credit_card                  13.0
debt_consolidation           14.0
educational                  11.0
home_improvement             12.0
house                        13.0
major_purchase               11.0
medical                      12.0
moving                       14.0
other                        13.0
renewable_energy             10.0
small_business               13.0
vacation                     12.0
wedding                      12.0

In [194]:
for i in range(len(loan_d.index )):
    if loan_d['loan_purpose'][i] in ['car','educational', 'major_purchase']:
        loan_d.loc[i,'loan_purpose'] = 'cem'
    if loan_d['loan_purpose'][i] in ['home_improvement','medical', 'vacation','wedding']:
        loan_d.loc[i,'loan_purpose'] = 'himvw'
    if loan_d['loan_purpose'][i] in ['credit_card','house', 'other','small_business']:
        loan_d.loc[i,'loan_purpose'] = 'chos'
    if loan_d['loan_purpose'][i] in ['debt_consolidation','moving']:
        loan_d.loc[i, 'loan_purpose'] = 'dm'

In [195]:
loan_d['loan_purpose'].value_counts()

dm                  1336
chos                 751
himvw                242
cem                  166
renewable_energy       4
Name: loan_purpose, dtype: int64

In [196]:
#now we make dummies for this variable
lp_dummies = pd.get_dummies(loan_d['loan_purpose'], prefix= 'LP')

In [197]:
lp_dummies.head()

   LP_cem  LP_chos  LP_dm  LP_himvw  LP_renewable_energy
0       0        0      1         0                    0
1       0        0      1         0                    0
2       0        0      1         0                    0
3       0        0      1         0                    0
4       0        1      0         0                    0

In [198]:
loan_d = pd.concat([loan_d,lp_dummies],1)
loan_d = loan_d.drop(['loan_purpose','LP_renewable_energy'],1)

In [199]:
loan_d.dtypes

id                      float64
amount_req              float64
fund_by_investors       float64
interest_rate           float64
debbt_income_ratio      float64
state                    object
home_owner               object
monthly_income          float64
fico_range               object
open_credit             float64
revolve_cr_bal          float64
enquiries               float64
employ_length            object
loan_length_36months      uint8
LP_cem                    uint8
LP_chos                   uint8
LP_dm                     uint8
LP_himvw                  uint8
dtype: object

In [200]:
loan_d.head()

,id,amount_req,fund_by_investors,interest_rate,debbt_income_ratio,state,home_owner,monthly_income,fico_range,open_credit,revolve_cr_bal,enquiries,employ_length,loan_length_36months,LP_cem,LP_chos,LP_dm,LP_himvw
0,81174.0,20000.0,20000.0,8.90,14.90,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year,1,0,0,1,0
1,99592.0,19200.0,19200.0,12.12,28.36,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years,1,0,0,1,0
2,80059.0,35000.0,35000.0,21.98,23.81,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years,0,0,0,1,0
3,15825.0,10000.0,9975.0,9.99,14.30,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years,1,0,0,1,0
4,33182.0,12000.0,12000.0,11.71,18.78,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years,1,0,1,0,0

In [201]:
#move on to other  cat variable
loan_d['state'].nunique()

47

In [202]:
#check for relationship with interest rate
round(loan_d.groupby('state').agg({'interest_rate':'mean'}))

       interest_rate
state
.               15.0
AK              17.0
AL              13.0
AR              13.0
AZ              13.0
CA              13.0
CO              13.0
CT              14.0
DC              14.0
DE              12.0
FL              13.0
GA              13.0
HI              16.0
IA              14.0
IL              13.0
IN              13.0
KS              14.0
KY              12.0
LA              15.0
MA              13.0
MD              13.0
MI              14.0
MN              14.0
MO              13.0
MS              16.0
MT              11.0
NC              13.0
NH              12.0
NJ              13.0
NM              14.0
NV              14.0
NY              13.0
OH              12.0
OK              14.0
OR              13.0
PA              13.0
RI              13.0
SC              13.0
SD              10.0
TX              13.0
UT              13.0
VA              13.0
VT              18.0
WA              13.0
WI              14.0
WV              14.0
WY              13.0

In [203]:
#we can club state with similar average interest rate
for i in range(len(loan_d.index)):
    if loan_d['state'][i] in ['WY','WA','VA','UT','TX','SC','RI','PA','OR','NY','NJ','NC','MO','MD','MA','IN','IL','GA','FL','CO','CA','AZ','AR','AL']:
        loan_d.loc[i,'state'] = 'st13'
    if loan_d['state'][i] in ['WV','WI','OK','MN','MI','KS','IA','DC','CT']:
        loan_d.loc[i,'state'] = 'st14'
    if loan_d['state'][i] in ['OH','NH','KY','DE']:
        loan_d.loc[i,'state'] = 'st12'

In [204]:
#get dummies of states
state_dummy = pd.get_dummies(loan_d['state'],prefix='state')

In [205]:
state_dummy.head()

,state_.,state_AK,state_HI,state_LA,state_MS,state_MT,state_NM,state_NV,state_SD,state_VT,state_st12,state_st13,state_st14
0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,1,0

In [206]:
loan_d = pd.concat([loan_d,state_dummy],1)
loan_d = loan_d.drop(['state_.','state'],1)

In [207]:
pd.set_option('display.max_columns', 50)
loan_d.head()

,id,amount_req,fund_by_investors,interest_rate,debbt_income_ratio,home_owner,monthly_income,fico_range,open_credit,revolve_cr_bal,enquiries,employ_length,loan_length_36months,LP_cem,LP_chos,LP_dm,LP_himvw,state_AK,state_HI,state_LA,state_MS,state_MT,state_NM,state_NV,state_SD,state_VT,state_st12,state_st13,state_st14
0,81174.0,20000.0,20000.0,8.90,14.90,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
1,99592.0,19200.0,19200.0,12.12,28.36,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
2,80059.0,35000.0,35000.0,21.98,23.81,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
3,15825.0,10000.0,9975.0,9.99,14.30,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,33182.0,12000.0,12000.0,11.71,18.78,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [208]:
loan_d['home_owner'].value_counts()

MORTGAGE    1147
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: home_owner, dtype: int64

We would assume there are three variables but go ahead to create dummies for Mortgage and rent while ignoring other and none as their frequency is pretty low

In [209]:
loan_d['ho_mort'] = np.where(loan_d['home_owner'] == 'MORTGAGE',1,0)
loan_d['ho_rent'] = np.where(loan_d['home_owner']== 'RENT', 1,0)
loan_d = loan_d.drop(['home_owner'],1)

In [210]:
loan_d.head()

,id,amount_req,fund_by_investors,interest_rate,debbt_income_ratio,monthly_income,fico_range,open_credit,revolve_cr_bal,enquiries,employ_length,loan_length_36months,LP_cem,LP_chos,LP_dm,LP_himvw,state_AK,state_HI,state_LA,state_MS,state_MT,state_NM,state_NV,state_SD,state_VT,state_st12,state_st13,state_st14,ho_mort,ho_rent
0,81174.0,20000.0,20000.0,8.90,14.90,6541.67,735-739,14.0,14272.0,2.0,< 1 year,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
1,99592.0,19200.0,19200.0,12.12,28.36,4583.33,715-719,12.0,11140.0,1.0,2 years,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
2,80059.0,35000.0,35000.0,21.98,23.81,11500.00,690-694,14.0,21977.0,1.0,2 years,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
3,15825.0,10000.0,9975.0,9.99,14.30,3833.33,695-699,10.0,9346.0,0.0,5 years,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
4,33182.0,12000.0,12000.0,11.71,18.78,3195.00,695-699,11.0,14469.0,0.0,9 years,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1

In [211]:
loan_d['fico_range'].head()

0    735-739
1    715-719
2    690-694
3    695-699
4    695-699
Name: fico_range, dtype: object

In [212]:
#loan_d['f1'], loan_d['f2'] = zip(*loan_d['fico_range'].apply(lambda x: x.split('-',1)))

In [213]:
#loan_d['new_fico'] = 0.5*(pd.to_numeric(loan_d['f1']) + pd.to_numeric(loan_d['f2']))

In [214]:
#another simplier method
wip_fico = loan_d['fico_range'].str.split('-', n = 1,expand = True )
wip_fico['av_fico_range'] = (pd.to_numeric(wip_fico[0]) + pd.to_numeric(wip_fico[1]))/2
loan_d['new_fico'] = wip_fico['av_fico_range']
loan_d = loan_d.drop(['fico_range'],1)

In [215]:
#discard the dataframe used for this operation
%reset_selective -f wip_fico

In [216]:
loan_d['employ_length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
n/a           77
9 years       72
.              2
Name: employ_length, dtype: int64

In [217]:
pattern1 = 'year$|years$'
loan_d['employ_length'] = loan_d['employ_length'].str.replace(pattern1,'')
pattern2 = '\+'
loan_d['employ_length'] = loan_d['employ_length'].str.replace(pattern2, '')

In [218]:
loan_d.groupby('employ_length').agg({'interest_rate':'mean'})

               interest_rate
employ_length
.                  11.340000
1                  12.486836
10                 13.336233
2                  12.868889
3                  12.769532
4                  13.140366
5                  13.399505
6                  13.291227
7                  13.096220
8                  13.007593
9                  13.154167
< 1                12.862450
n/a                12.853506

we can see that '< 1' and n/a are very similar, hence we would treat n/a like '< 1'

In [219]:
loan_d['employ_length'] = loan_d['employ_length'].str.replace('n/a','< 1')
loan_d['employ_length'] = loan_d['employ_length'].str.replace('.','')
loan_d['employ_length']= pd.to_numeric(loan_d['employ_length'].str.replace('< 1','0'))

In [220]:
loan_d.shape

(2500, 30)

In [221]:
loan_d.dropna(axis=0, inplace = True)

In [222]:
loan_d.shape

(2471, 30)

In [250]:
loan_d = loan_d.astype('float32')

we would divide our data into two parts:one for building our model the other for testing its performance

In [251]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.cross_validation import KFold

In [252]:
loan_test,loan_train = train_test_split(loan_d, test_size = 0.20, random_state = 2)

In [253]:
lm= LinearRegression()

we would separate the predictors from the response or depandent variable from independent variable,
we would drop the id column and amountbyinvestors(beacuse is an event that is post-loan application process)

In [254]:
x_train = loan_train.drop(['id','interest_rate','fund_by_investors'],1)
y_train = loan_train['interest_rate']
x_test = loan_test.drop(['id','interest_rate','fund_by_investors'], 1)
y_test = loan_test['interest_rate']

In [255]:
#build a linear model
lm.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

we will now go ahead and used the model to predict on the test data

In [258]:
test_pred = lm.predict(x_test)
residual = test_pred - y_test
rmsecal = np.sqrt(np.dot(residual,residual)/len(test_pred))
rmsecal

2.1247673597902867

In [259]:
#see coeficient
coefy = lm.coef_
features = x_train.columns
list(zip(features,coefy))

[('amount_req', 0.00013803654292132705),
 ('debbt_income_ratio', -0.0056626745499670506),
 ('monthly_income', -3.1747593311592937e-05),
 ('open_credit', -0.064984768629074097),
 ('revolve_cr_bal', -5.3346157073974609e-06),
 ('enquiries', 0.43211477994918823),
 ('employ_length', -0.012162923812866211),
 ('loan_length_36months', -3.2857537269592285),
 ('LP_cem', -0.22043144702911377),
 ('LP_chos', -1.1379191875457764),
 ('LP_dm', -1.2271242141723633),
 ('LP_himvw', -1.1786527633666992),
 ('state_AK', 0.11768971383571625),
 ('state_HI', -0.74558794498443604),
 ('state_LA', -0.59756332635879517),
 ('state_MS', 2.6838688850402832),
 ('state_MT', -1.7366172075271606),
 ('state_NM', 0.072409972548484802),
 ('state_NV', -0.81455612182617188),
 ('state_SD', -0.61410582065582275),
 ('state_VT', 3.4194133281707764),
 ('state_st12', -0.77029299736022949),
 ('state_st13', -0.54564976692199707),
 ('state_st14', -0.45218908786773682),
 ('ho_mort', 0.41174742579460144),
 ('ho_rent', 0.38095894455909729),
 ('new_fico', -0.088119626045227051)]

In [263]:
#getting best value of penalty
alphas = np.linspace(.0001,10,100)
x_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True,inplace=True)

In [265]:
rmse_list = []
for a in alphas:
    ridge = Ridge(fit_intercept=True, alpha=a)
    #average rmse across 10 fold cross validation
    kf = KFold(len(x_train),n_folds=10)
    xval_err = 0
    for train, test in kf:
        ridge.fit(x_train.loc[train],y_train[train])
        p = ridge.predict(x_train.loc[test])
        err = p - y_train[test]
        xval_err += np.dot(err,err)
    rmse_10cv = np.sqrt(xval_err/len(x_train))
    rmse_list.extend([rmse_10cv])
best_alpha = alphas[rmse_list == min(rmse_list)]
print('Alpha with min 10cv erro is:', best_alpha)

Alpha with min 10cv erro is: [ 3.63642727]

In [266]:
# fit the best ridge to the train data
ridge = Ridge(fit_intercept=True, alpha=best_alpha)
ridge.fit(x_train,y_train)
p_test = ridge.predict(x_test)
residual = p_test - y_test
rmse_ridge = np.sqrt(np.dot(residual,residual)/len(p_test))
rmse_ridge

2.1084449084867045

In [267]:
list(zip(x_train.columns,ridge.coef_))

[('amount_req', 0.00014124679632934059),
 ('debbt_income_ratio', -0.0089767139536907174),
 ('monthly_income', -3.8214181778630868e-05),
 ('open_credit', -0.061649313497314277),
 ('revolve_cr_bal', -4.2653762799946444e-06),
 ('enquiries', 0.44073954402308757),
 ('employ_length', -0.011200769697539172),
 ('loan_length_36months', -3.157002710877606),
 ('LP_cem', 0.5873591548585686),
 ('LP_chos', -0.22504587232479822),
 ('LP_dm', -0.31979239030572654),
 ('LP_himvw', -0.28942447961616596),
 ('state_AK', 0.21185406166078041),
 ('state_HI', -0.09164961988901138),
 ('state_LA', -0.13779184029038513),
 ('state_MS', 0.59195499930300877),
 ('state_MT', -0.29802121586478442),
 ('state_NM', 0.14154341061934114),
 ('state_NV', -0.36154389017097455),
 ('state_SD', -0.081825270582349549),
 ('state_VT', 0.80388772441232614),
 ('state_st12', -0.40526242717551814),
 ('state_st13', -0.24886547506531778),
 ('state_st14', -0.1242804569571367),
 ('ho_mort', 0.29648513932564191),
 ('ho_rent', 0.2941127894384451),
 ('new_fico', -0.088051338919341179)]

In [269]:
#Lasso regression
alphas = np.linspace(0.0001,1,100)
rmse_list = []
for a in alphas:
    lasso = Lasso(fit_intercept=True,alpha=a,max_iter=10000)
    #computing RSME using 10-fold cross validation
    kf = KFold(len(x_train), n_folds=10)
    xval_err = 0
    for train, test in kf:
        lasso.fit(x_train.loc[train],y_train[train])
        p = lasso.predict(x_train.loc[test])
        err = p - y_train[test]
        xval_err += np.dot(err,err)
    rmse_10cv = np.sqrt(xval_err/len(x_train))
    rmse_list.extend([rmse_10cv])
best_alpha = alphas[rmse_list == min(rmse_list)]
print('Alpha with min 10cv error is:', best_alpha)

Alpha with min 10cv error is: [ 0.0203]

In [270]:
lasso = Lasso(fit_intercept=True,alpha=best_alpha)
lasso.fit(x_train,y_train)
p_test = lasso.predict(x_test)
residual = p_test - y_test
rmse_lasso = np.sqrt(np.dot(residual, residual)/len(p_test))
rmse_lasso

2.0967548162033163

In [271]:
list(zip(x_train.columns, lasso.coef_))

[('amount_req', 0.00013867324154566045),
 ('debbt_income_ratio', -0.010610081131763397),
 ('monthly_income', -3.3392999279657354e-05),
 ('open_credit', -0.060852652249411672),
 ('revolve_cr_bal', -4.2666040822203032e-06),
 ('enquiries', 0.43251551266392724),
 ('employ_length', -0.011569808430115588),
 ('loan_length_36months', -3.1920442174975845),
 ('LP_cem', 0.49244957837690939),
 ('LP_chos', 0.0),
 ('LP_dm', -0.024722560730490992),
 ('LP_himvw', -0.0),
 ('state_AK', 0.0),
 ('state_HI', -0.0),
 ('state_LA', -0.0),
 ('state_MS', 0.0),
 ('state_MT', -0.0),
 ('state_NM', 0.0),
 ('state_NV', -0.0),
 ('state_SD', -0.0),
 ('state_VT', 0.0),
 ('state_st12', -0.0),
 ('state_st13', -0.0),
 ('state_st14', 0.0),
 ('ho_mort', 0.0),
 ('ho_rent', 0.0),
 ('new_fico', -0.087652688638431717)]